# CUSTOMS
# Readme Files
*.md
*.txt


# NEXTJS DEFAULTS
# npm Packages
node_modules

# Dev/Build
**/.next/**
**/_next/**
**/dist/**

# packages files/folders
packages/next/bundles/webpack/packages/*.runtime.js
packages/next/bundles/webpack/packages/lazy-compilation-*.js
packages/next/compiled/**
packages/react-refresh-utils/**/*.js
packages/react-refresh-utils/**/*.d.ts
packages/react-dev-overlay/lib/**
packages/next-swc/crates/**/*
packages/next-swc/target/**/*
packages/next-swc/native/**/*
packages/next-codemod/transforms/__testfixtures__/**/*
packages/next-codemod/transforms/__tests__/**/*
packages/next-codemod/**/*.js
packages/next-codemod/**/*.d.ts
packages/next-env/**/*.d.ts

# tmp & testing folders
**/__tmp__/**
test/**